[run]
source = R:/devmaxime/dev/python/prism/USD-Updater
omit = 
    */*shiboken*/*
    *signature_bootstrap.py
    *pyscript
    */*_test/*
    debug.py
    loggingsetup.py
    benchmark.py

[report]
ignore_errors = true
